body {
    background-color: #111927;
    margin: 0;
    display: grid;
    grid-template-areas:
        "navb navb navb"
        "asidb content content";
    grid-template-rows: 60px auto;
    grid-template-columns:  20% auto;

    nav {
        grid-area: navb;
    }

    asid {
        grid-area: asidb;
    }

    main {
        grid-area: content;
    }

}

nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid;
    border-color: #374151;
    box-sizing: border-box;
}

.navbar {
    margin-top: 16px;
    margin-left: 100px;
    height: 32px;
    display: flex;
    align-items: center;

}

.navbar #sid_icon {
    margin-right: 25px;
    width: 25px;
    height: 22px;
    cursor: pointer;
}

.navbar #iot_icon {
    width: 25px;
    height: 25px;

}

.navbar p {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
    margin-left: 18px;
    font-size: 25px;
}

aside {
    background-color: #1A2332;
    max-width: 380px;
    border-right: 1px solid #374151;
    padding: 0 10%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

}

aside .info #header {
    margin-top: 5vh;
    display: flex;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: space-between;
}

aside .info #icons_pages .icon_txt {
    display: flex;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
}

/* Add to dashboard.css */
.profile-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
#profile-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #374151;
    display: flex;
    align-items: center;
    justify-content: center;

}


.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #1A2332;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: #E5E7EB;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #111927;
    color: #9FEF00;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}


aside .info #header #profile_name h2 {
    margin: 0px;

    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    width: 60px;
    height: 23px;
}

aside .info #header #image_prf {
    display: flex;
    column-gap: 10px;
}

aside .info #header #profile_name p {
    font-size: 16px;
    line-height: 100%;
    width: auto;
    height: 12px;
    color: #9CA3AF;
    margin-top: 25px;
    margin-bottom: 0px;
}
#Prf_select{
    cursor: pointer;
}

aside .info #icons_pages .icon_txt p{
    font-size: 20px;
    line-height: 100%;
    font-weight: 700;
    margin-top: 40px;
}
aside .info #icons_pages .icon_txt img{
    margin-top: 15px;
    width: 25px;
}
aside .info #icons_pages .icon_txt p ,aside .info #icons_pages .icon_txt img{
    cursor: pointer;
}

aside .info #icons_pages .icon_txt p:hover ,aside .info #icons_pages .icon_txt img:hover{
    color: #9FEF00;
}
main {
    display: flex;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.3s ease-in-out;
}

main #session {
    width: 50%;
    height: auto;
    margin-top: 6vh;
    margin-left: 10%;

}

main #session #welcom_back h1 {
    font-size: 24px;
    font-weight: 700;
    max-width: 268px;
    min-height: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}

main #session #welcom_back p {
    font-size: 16px;
    font-weight: 400;
    max-width: 392px;
    min-height: 16px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #9CA3AF;
}

main #session #create_session {
    border: 1px solid #374151;
    border-radius: 12.35px;
    padding: 16px 25px;
    width: 70%;
    min-width: 300px;
    margin-top: 5px;
    margin-bottom: 30px;
}


main #session #create_session h2 {
    margin: 0;
    font-size: 20.58px;
    font-weight: 700;
    max-width: 208.93px;
    min-height: 28.82px;
    margin-bottom: 10px;
}



main #session #create_session label {

    font-size: 16.47px;
    font-weight: 400;
    max-width: 117.33.93px;
    min-height: 23.67px;
    color: #9CA3AF;

}

main #session #create_session input {
    width: 95%;
    height: 51px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #374151;
    color: #FFFFFF;
    border: 1.03px #374151;
    border-radius: 8.23px;
    margin-top: 5px;
    padding-left: 12.35px;
    font-size: 16.47px;
}

main #session #create_session select {
    width: 97%;
    height: 51px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #374151;
    border: 1.03px #374151;
    color: #FFFFFF;
    border-radius: 8.23px;
    margin-top: 5px;
    padding-left: 12.35px;
    font-size: 16.47px;
}


main #session #create_session .btn {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

main #session #create_session button {
    width: 97%;
    height: 61px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #9FEF00;
    border: 1.03px #9FEF00;
    border-radius: 8.23px;
    margin-top: 5px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
}

main #session #create_session button img {
    margin-right: 5px;
}

main #session #Join_session {
    border: 1px solid #374151;
    border-radius: 12.35px;
    padding: 16px 25px;
    width: 70%;
    min-width: 300px;
    margin-top: 10px;
}

main #session #Join_session h2 {
    margin: 0;
    font-size: 20.58px;
    font-weight: 700;
    max-width: 208.93px;
    min-height: 28.82px;
    margin-bottom: 10px;
}

main #session #Join_session label {

    font-size: 16.47px;
    font-weight: 400;
    max-width: 117.33.93px;
    min-height: 23.67px;
    color: #9CA3AF;

}

main #session #Join_session input {
    width: 95%;
    height: 51px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #374151;
    color: #FFFFFF;
    border: 1.03px #374151;
    border-radius: 8.23px;
    margin-top: 5px;
    padding-left: 12.35px;
    font-size: 16.47px;
}

main #session #Join_session .btn {
    margin-top: 20px;
    height: auto;
    width: 100%;
}

main #session #Join_session button {
    width: 98%;
    height: 61px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111927;
    border: 1.03px solid #9FEF00;
    color: #9FEF00;
    border-radius: 8.23px;
    margin-top: 5px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
}

main #session #Join_session button img {
    margin-right: 5px;

}

main #Gif_recent_sessions {
    margin-top: 2vh;
    margin-left: 1%;

}

main #Gif_recent_sessions #Res_Sess h2 {
    border-bottom: 1.1px solid #374151;
    height: 40.7px;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 30px;

}

main #Gif_recent_sessions #Res_Sess .tables {
    background-color: #1F2937;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 13.2px;

}

main #Gif_recent_sessions #Res_Sess .tables .session_info {
    display: flex;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


main #Gif_recent_sessions #Res_Sess .tables .session_info #name_ss h3 {
    margin: 0px;

}

main #Gif_recent_sessions #Res_Sess .tables .session_info #type_ss p {
    margin: 0px;
    color: #9CA3AF;

}

main #Gif_recent_sessions #Res_Sess .tables .session_info #result p {
    margin: 0px;
    background-color: #D1FAE5;
    color: #065F46;
    border-radius: 4px;
    width: 79px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 100%;
}

main #Gif_recent_sessions #Res_Sess .tables .session_discription {
    font-size: 15.4px;
    font-weight: 400;
    line-height: 100%;
    color: #9CA3AF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main #Gif_recent_sessions #Res_Sess .tables .session_discription p,
main #Gif_recent_sessions #Res_Sess .tables .session_time p {

    margin: 15px 0px;
}

main #Gif_recent_sessions #Res_Sess .tables .session_time {
    font-size: 15.4px;
    font-weight: 400;
    line-height: 15.4px;
    margin: 0px;
    color: #6B7280;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.error_message {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-size: 18px;
    margin-top: 10px;
    color: #EF4444;
}
#session_hist{
    overflow: scroll;
    scrollbar-color: #374151 #111927;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    height: 300px;

}