body {
    background-color: #111927;
    margin: 0;
}

nav {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
    border-color: #374151;
    box-sizing: border-box;
}

.navbar {
    margin-top: 16px;
    margin-left: 43px;
    height: 32px;

}

.navbar p {
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
}

.navbar p img {
    margin-right: 10px;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box1 {
    width: 400px;
    height: auto;
    margin-top: 100px;
    border-radius: 16px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;

}

.Box1 header .icon2 {
    margin-top: 15px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box1 header .part1 {

    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    line-height: 10px;
}

.Box1 header .part2 {
    text-align: center;
    font-weight: 400;
    margin-left: 15%;
    width: 70%;
    font-size: 16px;
    line-height: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6B7280;
}

.Box1 .code-container {
    height: auto;
}

.Box1 .code-container .inputs label {
    font-weight: 500;
    font-size: 14px;
    color: #374151;
    padding-left: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Box1 .code-container .inputs {
    display: grid;
    grid-auto-rows: min-content;
    row-gap: 10px;
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-bottom: 15px;
}

.error_message{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    font-size: 13px;
    line-height: 12px;
    margin-top: 3px;
    color: red;
}
.Box1 .code-container input {
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 0.98px solid #D1D5DB;
    padding-left: 20px;
}
.pass_show {
    display: flex;
    align-items: center;
    position: relative;
}

.show {
    position: relative;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: 5px;
    cursor: pointer;
}

.show:hover {
    background-color: #ddd;
    transition: 0.25s;
}

.Box1 #Reset-pass-btn {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 80%;
    margin-left: 10%;
    height: 38px;
    text-align: center;
    background-color: #9FEF00;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.Box1 .last-part {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width: 1367px) {
    nav{
        position: relative;          
        width: 100%;
        height: 86.67px;
    }
    .navbar{
        position: absolute;
        margin-top: 21px;
        margin-left: 71px;
        height: 43px;
    }
    
    .navbar p{
        margin-top: 10px;
        font-weight: 700;
        font-size: 26.67px;
        line-height: 26.67px;
    }
    .navbar p img{
        width: 32px;
        margin-right: 10.67px;
    }
    
    .Box1{
        width: 578px;
        height: auto;
        margin-top: 129.33px;
        border-radius: 21.33px;
    }
    .Box1 header .icon2{
        margin-top: 38.33px ;
        font-size: 40px;
    }
    .Box1 header .part1{
        font-weight: 700;
        line-height: 22px;
    }
    .Box1 header .part1 h2{
        font-size: 32px;
    }
    .Box1 header .part2{
        margin-left: 15%;
        width: 70%;
        font-size: 22.33px;
        line-height: 22.33px;
    }

    .Box1 header .part2 p{
        margin: 0px;
    }
    
    .Box1 .code-container .inputs {
        margin-top: 30px;
        height: auto;
    }

    .error_message{
        font-size: 19px;
        line-height: 19px;
        margin-top: 10px;
        
    }


    .Box1 .code-container .inputs label {
        font-size: 17.93px;
    }
    
    .Box1 .code-container input {
        margin-top: 10px;
        height: 64.04px;
        border-radius: 10.25px;
        font-size: 18.49px ;
        line-height: 30.74px;
    }
    
    .show {
        margin-left: -45px;
        width: 45px;
        height: 40px;
    }
    .show img {
        width: 25px;
    }
    .Box1 #Reset-pass-btn {
        height: 64px;
        font-size: 21.33px;
        border-radius: 10.67px;
        margin-bottom: 20px;
    }
    
    .Box1 .last-part {
        font-size: 21.33px;
        font-weight: 400;

    }
    
}

@media (max-width:400px) {
    .Box1 {
        width: 100%;
        margin-top: 50px;
        height: 420px;
    }

    .Box1 .code-container .inputs input {
        height: 36px;
        width: 15%;
        margin-top: 10px;
        text-align: center;
        border-radius: 8px;
    }
}