body {

    background-color: #111927;
    margin: 0;
    padding: 0px;
}

nav {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid;
    border-color: #374151;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 43px;
    height: 32px;

}

.icon {
    height: 24px;
    width: 24px;
    padding-top: 2px;
    float: left;
    color: #ffffff;
}

.navbar p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
    font-weight: 700;
    line-height: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.Box1 {
    width: 400px;
    height: auto;
    margin-top: 30px;
    border-radius: 16px;
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 20px;

}

.Box1 header .icon2 {
    margin-top: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box1 header .part1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    line-height: 10px;
}

.Box1 header .part1 h1 {
    margin-top: 25px;
}

.Box1 header p {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6B7280;
    margin-top: 25px;
}

.Box1 .input-part {
    display: block;
    width: 340px;
    height: auto;
    margin-left: 32px;

}

.Box1 .name {
    margin-bottom: 20px;
    width: 100%;
    height: 58px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;

}

.Box1 .name label {
    font-weight: 500;
    font-size: 14px;
    line-height: 90%;
    color: #374151;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Box1 .f-name {
    display: block;
    float: left;
    margin-right: 43px;
}

.Box1 .name input {
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    padding-left: 20px;
}
.Box1 .name p{
    margin-bottom: 0px;
}

.info label {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #374151;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info input {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    padding-left: 20px;
    margin-top: 5px;
}

.info select {
    box-sizing: border-box;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border-color: #D1D5DB;
    padding-left: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
}

.mail-info,
.Box1 .role-info,
.password-info,
.Box1 .Confirm-Password-info {
    margin-bottom: 20px;
}

.error_message{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 110%;
    height: auto;
    font-size: 13px;
    line-height: 12px;
    color: red;
    margin-top: 3px;
    
}

.pass_show {
    display: flex;
    align-items: center;
    position: relative;
}

.show {
    position: relative;
    width: 30px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
    margin-top: 5px;
    cursor: pointer;
}

.show:hover {
    background-color: #ddd;
    transition: 0.25s;
}

.check-box {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}


.check-box input {
    width: 16px;
    height: 16px;
    float: left;
}
.check-box label sup {
    font-size: 13.75px;
}
.Box1 button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 38px;
    text-align: center;
    background-color: #9FEF00;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
}

.Box1 #have_acc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #4B5563;
    font-weight: 400;
    font-size: 16px;

}

.Box1 #sign {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9FEF00;
    font-weight: 600;
    font-size: 16px;

}

/* Styling the sign in page */
.Box2 {
    width: 400px;
    height: auto;
    margin-top: 60px;

    border-radius: 16px;
    background-color: #ffffff;
}

.Box2 header {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #000000;
}

.Box2 header .icon2 {
    margin-top: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box2 header .part1 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300px;
    line-height: 15px;
}

.Box2 header p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 12.5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #6B7280;
}

.Box2 .input-part {
    display: block;
    width: 85%;
    height: auto;
    margin-left: 30px;
    border: none;
}

.Box2 .check-remm {
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    margin-top: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Box2 button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 48px;
    text-align: center;
    background-color: #9FEF00;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    border-radius: 8px;
    border: 1px solid #D1D5DB;
    margin-top: 15px;
}

.Box2 #D_have_acc {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #4B5563;
    font-weight: 400;
    font-size: 16px;

}

.Box2 #sign {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9FEF00;
    font-weight: 600;
    font-size: 16px;

}

@media (min-width: 1367px) {
    nav {
        height: 68.76px;
    }

    .navbar {
        margin: 21.88px 71px;
        height: 43px;

    }

    .icon {
        height: 32px;
        width: 32px;
        padding-top: 2.67px;
        margin-right: 15px;
    }
    .navbar .icon img{
        width: 32px;
    }
    .navbar p {
       font-size: 26.67px;
       line-height: 26.67px;
    }

    .Box1 {
        width: 440px;
        height: auto;
        margin-top: 43.33px;
    }
    .Box1 header .icon2 {
        margin-top: 31.44px;
        height: 35.37px;
    }
    .Box1 header .icon2 img{
        width: 35.37px;
    }

    .Box1 header .part1{
        height: 32.4px;
        margin-bottom: 5px;
    }
    .Box1 header p{
       font-size: 17.72px; 
    }
    .Box1 .input-part {
        width: 377.27px;
        height: auto;
        margin-top: 40px;
    }

    .Box1 .name {
        margin-bottom: 25px;
        height: auto;
        margin-top: 0px;
    }

    .Box1 .name label {
        padding-left: 0px;
    }
    
    .Box1 .f-name {
        margin-right: 15px;
    }

    .Box1 .name input {
        height: 49.12px;
        margin-top: 5px;
        font-size: 15.72px;
    }

    .info label {
        padding-left: 0px;
        
    }

    .info input {
        height: 49.12px;
        margin-top: 5px;
        font-size: 15.72px;
    }

    .info select {
        height: 49.12px;
        font-size: 15.72px;
        color:#6B7280;
        
    }

    .mail-info,
    .Box1 .role-info,
    .password-info {
        margin-bottom: 25px;
    }

    .check-box {
        margin-top: 19.65px;
        margin-bottom: 19.65px;
    }

    .check_box label,
    .check-box input {
        width: 20px;
        height: 16px;
        float: left;
    }

    /* /////////////////////////////////////////////////////////////////////////////////////////////// */
    .Box2 {
        width: 597.33px;
        height: 773.33px;
        margin-top: 109.33px;
        border-radius: 21.33px;
    }
    
    .Box2 header .icon2 {
        margin-top: 42.67px;
        font-size: 30px;
    }
    .Box2 header .icon2 img{
        width: 48px;
    }

    .Box2 header .part1 h2{
        height: 44px; 
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
    
    .Box2 header p {
        font-weight: 400;
        font-size: 21.33px;
        line-height: 21.33px;
        
    }
    
    .Box2 .input-part {
        width: 512px;
        height: 394.67px;
        margin-left: 42.67px;
        margin-top: 40px;
        
    }
    .Box2 #email ,.Box2 #password{
        height: 66.67px;
        margin-top: 10px;
        font-size: 20.33px;
        
    }
    .Box2 .mail-info,.Box2 .password-info{
        margin-bottom: 35px;
    }
    .Box2 .check-remm .forgot_pass {
        margin-left: 60px;
    }
    .Box2 .info{
        margin-bottom: 25px ;
    }
    .Box2 button {
        width: 512px;
        height: 64px;
        border-radius: 10.67px;
        font-size: 21.33px;
        font-weight: 600;
    }
    
    .Box2 #D_have_acc {
        font-size: 21.33px;
    }
    
    .Box2 #sign {
        font-size: 21.33px;
    }

}

@media (max-width: 400px) {

    .Box1,
    .Box2 {
        width: 80%;
        height: auto;
        padding: 10px;
        margin-top: 10px;
    }

    .Box1 .input-part,
    .Box2 .input-part {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
}